<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Preguntas CON respuestas (tanto si las saben como si no)...</p>
    <p><a href="/quizes/question">Inicio del juego...</a></p>
  </body>
</html>
